.content {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#data-hora {
    font-family: 'Bebas Neue';
    font-size: 2rem;
    padding-left: 100px;  
}

.logout-button {
    height: 100px;
    width:  100px;
    border-radius: 4px;
    border: 1px solid transparent;
    background: transparent;
    margin-left: 300px;
    transition: border-color 0.6s;
}

.logout-button:hover {
    border-color: rgba(0, 0, 0, .9);
}

h3 {
    color: black;
    font-family: 'Bebas Neue';
}

.btn {
    text-align: center;
    height: 50px;
}

.table-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.table-title {
    font-family: 'Bebas Neue';
}

.table button{
    border: none;
    margin-top: 12px;
}